.env*
.openshift*

install-config.yaml

oc
openshift-install
kubectl
ccoctl

bootstrap.tfvars.json
cluster.tfvars.json
terraform.*
metadata.json
tls
terraform
auth


.*.json
.*.csv

.cco*
ccoctl-output
credentials-requests
.*.yaml
.install-config
.manifests.*
.install-dir

